// +++++++++ Tags Style

@mixin tag-style() {
	display: block;
	font-size: rem(12);
	padding: rem(8) rem(10);
	border: 1px solid color(grey-10);
	border-radius: 2px;
	text-decoration: none;
	color: color(grey-10);
	text-transform: uppercase;

	&:hover,
	&:focus {
		background-color: color(grey-10);
		color: $grey-light;
	}
}
