#site-footer-container {
  z-index: 1;

  .hamburger-menu-is-open & {
    z-index: -1;
  }
}

.site-footer {

  &__top-container {
    padding-top: 2rem;
    background-color: var(--wp--preset--color--contrast);
    color: color(grey-00);

    h2,
    a,
    p {
      color: color(grey-00);
    }

    h2 {
      font-size: 1.375rem;
      line-height: 2.7;
    }

    ul {
      margin: 0 !important;
      padding: 0;

      &.menu {
        list-style: none;
        line-height: 2.5rem;

        li.menu-item {
          a {
            background-image: none;
            border-bottom: solid 2px transparent;
            margin-bottom: 2rem;
            color: color(grey-00);
            font-weight: var(--wp--custom--font-weight--medium);
            padding-bottom: 0.2rem;
            text-decoration: none;
            transition: $default-transition;

            &:hover,
            &:focus {
              color: var(--wp--preset--color--quinary);
              border-bottom: solid 2px var(--wp--preset--color--quinary);
            }
          }
        }
      }

    }

    div:nth-child(2) {
      .widget {
        margin-bottom: 0;
      }
    }


  }

  &__top {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    grid-column-gap: 2rem;
    grid-row-gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 2rem;

    @include breakpoint($s-break-max) {
      grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
    }

    @include breakpoint($m-break-max) {
      grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    }

    span,
    time {
      display: block;

    }

    address {
      font-size: 15px;
    }

    h2 {
      margin-top: 0;
    }

    .footer-logo {
      margin: 0;
      width: 9.8125rem;
      height: 13.375rem;
    }

    .social-links {
      display: flex;
      gap: 2.5rem;

      a {
        width: 2.1875rem;
        height: 2.1875rem;
        margin-bottom: 1.25rem;
        border: none;
        border-radius: 0;
        text-decoration: none;
        background-size: contain;
        filter: invert(1);

        &:hover {
          filter: invert(53%) sepia(51%) saturate(7414%) hue-rotate(302deg) brightness(85%) contrast(88%);
        }

        img {}
      }
    }

    .footer-email {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;

      &:before {
        content: url('../../images/icons/mail.svg');
        margin-right: 10px;
        filter: invert(1);
      }
    }

    .footer-phone {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;

      &:before {
        content: url('../../images/icons/phone-mobile.svg');
        margin-right: 10px;
        filter: invert(1);
      }
    }
  }

  &__bottom-container {
    // padding: 1rem 0;
    background-color: var(--wp--preset--color--contrast);
    color: color(grey-00);
    font-size: var(--wp--preset--font-size--small);
    font-weight: var(--wp--custom--font-weight--medium);


    a {
      background-image: none;
      color: color(grey-00);
      text-underline-offset: 0.5rem;
      text-decoration: underline;

      &:hover {
        color: inherit;
        text-decoration: none;
      }
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    div {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    .widget_nav_menu {
      >div {
        .menu {
          list-style: none;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;

          li {
            margin-right: 20px;
          }
        }
      }
    }
  }

  &__bottom-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 0;
    list-style-type: none;
  }

  & div:nth-child(4) {

    // last column
    & .widget_media_image {
      @include breakpoint($m-break-max) {
        text-align: right;
      }
    }
  }

  &__social-links {

    .widget,
    ul {
      margin-bottom: 0rem;
      width: 100%;

      @include breakpoint($l-break-max) {
        width: auto;
      }
    }

    // remove external link icon for social btns
    a:after {
      content: none;
    }
  }


}


/**
Used to keep footer at bottom
 */
#page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#site-footer-container {
  margin-top: auto;
}
