
/* @editor.scss
* Card Grid Editor Styles.
*
* These styles are rendered in editor.
*
*/

.cards-grid { 
  &__appender button {
    background-color: var(--wp--preset--color--white);
  }
}

/* Panel Settings */

// Make the content within InspectorControls full width.
.full-width-control-wrapper {
	grid-column: 1 / -1;
}

// Remove the extra space around the PanelColorSettings.
.panel__color {
  margin-top: 0 !important;

  .components-tools-panel {
    border: none;
    padding: 0;
  }
}
