/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-native-dynamic {
	background: var(--wp--preset--gradient--cool-to-warm-spectrum);
	padding: var(--wp--preset--spacing--medium);

	li {
		color: var(--color-primary-00);
		background-color: var(--wp--preset--color--white);
	}
}
