.search {

  // Style the default fieldset and legend for the filter section.
  &__filters {
    fieldset {
      border: none;
    }
    legend {
      border-bottom: solid 1px var(--wp--preset--color--primary);
      padding-bottom: $space-10;
      margin-bottom: $space-20;
      width: 100%;

      h2 {
        font-size: var(--wp--preset--font-size--medium);
      }
    }
  }

  &__list {
    @include unstyled-list;
  }

  &__list-item {

  }

  // Search Result articles/items.
  &__result {
    margin-bottom: 3rem;

    &__content {
      display: grid;
      grid-template-columns: 8rem auto;
      gap: 2rem;

      @include breakpoint($s-break) {
        grid-template-columns: 10rem auto;
      }
    }

    &__media {
      margin-top: 0;
      margin-left: 0;
      margin-right: 0;
      height: 6.5rem;
      width: 100%;
      overflow: hidden;
      position: relative;

      img {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center; 
      }

    }

    &__meta {
      display: flex;
      flex-wrap: wrap;
      gap: 1em;
      font-size: var(--wp--preset--font-size--small);

      // Prevent the meta text from wrapping on larger screens.
      @media screen and (min-width: $xxs-break) { 
        flex-wrap: nowrap;
        gap: 1.25em;
      }

      &--categories {
        position: relative;

        // Add a divider after the categories.
        &:after {
          content: "/";
          color: var(--wp--preset--color--secondary);
          font-weight: var(--wp--custom--font-weight--bold);
          position: absolute;
          left: calc(100% + 0.25em);

          @media screen and (min-width: $xxs-break) { 
            left: calc(100% + 0.5em);
          }
        }
      }

      &--date {

      }
    }

    h2 {
      font-size: var(--wp--preset--font-size--medium-large);
      margin-top: 0.5em;
    }

    p {
      font-size: var(--wp--preset--font-size--small-medium);
    }
  }
}
