// +++++++++ Tags Style

@mixin pill {
  display: block;
	font-family: var(--wp--preset--font-family--primary);
  font-weight: var(--wp--custom--font-weight--normal);
  padding: rem(1) rem(14);
  border-radius: 100px;
  text-decoration: none;
  background: color(grey-20);
  &:hover,
  &:focus {
    background: color(grey-10);
    transition: all .2s;
    color: color(grey-90);
  }

  &:after {
    display: none;
  }

  .dark-mode & {
    color: color(grey-00);
    background: color(grey-80);
  
    &:hover,
    &:focus {
      background: color(grey-90);
      color: color(grey-00);
    }
  }
}
