// ++++++++++ Skip Link for keyboard navigation

.skip-link {
  display: flex;
  align-items: center;
  padding: rem(10) rem(10);
  text-align: center;
  background: color(grey-90);
  border: 2px solid color(grey-90);
  color: color(grey-00);
  text-decoration: none;
  font-weight: var(--wp--custom--font-weight--bold);
  font-size: 1rem;

  &:focus {
    background: color(grey-90);
    color: color(grey-00);
    font-size: 1rem;
  }
}