/* Apply the full container styles to WP's alignfull class. */
.alignfull {
  @include container--full;
}

/* Apply the wide container styles to the alignwide class. */
body .is-layout-constrained > .alignwide,
.alignwide {
  @include container--wide;
}

/* Apply the narrow container styles to the alignnarrow class. */
body .is-layout-constrained > .alignnarrow,
.alignnarrow {
  @include container--narrow;
}

/* Center align items */
.aligncenter {
  display: grid;
  justify-content: center;
  align-items: center !important;
}

/* Display the content in a flex container. */
.page-layout {
  @include container;
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  max-width: 100%;
  padding-top: 1.5rem;
  width: 100%;

  @include breakpoint($xm-break-max) {
    @include container;
    gap: 2rem;
    flex-wrap: nowrap;
  }

  &--full {
    width: 100%;
  }
  
  &--narrow {
    @include container--narrow;
  }

  // Apply a wider gap for layouts with a sidebar.
  &--with-sidebar {
    gap: 6rem;
  }

  &--left {
    flex: 1 1 66%;
    width: 100%;

    @include breakpoint($m-break-max) {
      max-width: 66%;
    }
  }

  &--sidebar {
    flex:1 1 34%;
    width: 100%;

    @include breakpoint($m-break-max) {
      max-width: 34%;
    }
  }
}

