/* General styles that may affect multiple blocks. */ 

ul.wp-block-post-template {
    margin-left: 0;
    float: none;
    li {
        padding-left: 0 !important;
        
        &:before {
            content: none !important;
        }
    }
}
